.Unconfigured, .Connection, .Idle, .Error{
  color: #F00000;
  margin-right: 1em;
}

.Configuring, .Configuring_TFC, .TFC_Active, .Configuring_Detectors, .Detectors_Active, .Configuring_FLES_and_DCS, .FLES_and_DCS_Active, .Configuring_QA{
  color: #F0F200;
  margin-right: 1em;
}

.Active, .Recording, .QA_Active{
  color: #5CB85C;
  margin-right: 1em;
}

.log{
  margin-top: 1em;
}

.activeButton {
  margin-left: 1em;
}

.indexPCAHeading {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}
