<!DOCTYPE html>
<html>
<head>
{%block control%}
{% load guardian_tags %}
{% get_obj_perms request.user for view.pcaObject as "pcaPerms" %}
<meta http-equiv=”Pragma” content=”no-cache”>
<meta http-equiv=”Expires” content=”-1″>
<meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function createWebSocket(){
    var updateSocket = new WebSocket('ws://'+ window.location.host + '/ws/ecs/');

    updateSocket.onclose = function(e){
      if (e.code == 1000)
        //normal shutdown
        return
      else{
         setTimeout(function(){
        		console.log("trying to reconnect Websocket");
        		createWebSocket()
    	   },2000);
      }
    }

    updateSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var type = data['type'];
        var origin = data['origin']
        if (type == "state"){
          var update = JSON.parse(message);
          var id = update['id'];
          var newState = update['state'];
          if(newState == "reset"){
              //clear Table
              $(".tableRow"+origin).remove()
          }
          else if (newState == "remove"){
              //delete Row
              $('#dRow'+id).remove()
          }
          else{
            stateObject = $('#dState'+id)
            //check if state already exists
            if(stateObject.length){
                stateObject.html(newState);
            }
            else{
                newRow = '<tr class="tableRow"> <td>'+id+'</td><td id="dState'+id+'">'+newState+'</td></tr>'
                //todo which PCA is the Update from?
                $("#stateTable"+origin).append(newRow)
            }
          }
        }
        else if (type == "log"){
          $('#log').append(origin+": "+message+"\n");
          //allways scroll directly to bottom
          var textarea = document.getElementById('log');
          textarea.scrollTop = textarea.scrollHeight;
        }

    };
}
createWebSocket()
</script>
</head>
<body>
{% if user.is_authenticated %}
  <li>User: {{ user.get_username }}</li>
  <li><a href="{% url 'GUI:logout'%}?next={{request.path}}">Logout</a></li>
{% else %}
  <li><a href="{% url 'GUI:login'%}?next={{request.path}}">Login</a></li>
{% endif %}
{% if perms.GUI.can_take_control %}
  {% if userInControl %}
      <p>Control already Taken by User : {{view.userInControl}}</p>
  {% endif %}
  {% if "has_control" in pcaPerms %}
      <form action="{% url 'GUI:giveup_control' 'ecs'%}" method="post">
        {% csrf_token %}
        <input type="submit" value="give up control">
      </form>
  {% else %}
      <form action="{% url 'GUI:take_control' 'ecs'%}" method="post">
        {% csrf_token %}
        <input type="submit" value="take control">
      </form>
  {% endif %}
{% endif %}
<h1>ECS Status</h1>

<div>
  {% for pca in view.ecsMap.items %}
  {% if pca.0 != "unmapped"%}
  <h2>PCA <a href="{%url 'GUI:pca' pca.0%}">{{pca.0}}</a> </h2>
  {% if "has_control" in pcaPerms %}
  <form action="{% url 'GUI:input_edit_pca' %}" method="post">
    <input type="hidden" name="id" value="{{pca.0}}" />
    {% csrf_token %}
    <input type="submit" value="edit Partition">
  </form>
  {%endif%}
  {%else%}
  <h2>Unused Detectors</h2>
  {%endif%}
  <table id="stateTable{{pca.0}}">
    <tr>
      <th>Detector</th>
      <th>Status</th>
    </tr>
    {% for state in pca.1.items %}
    <tr id="dRow{{state.0}}" class="tableRow{{pca.0}}">
        <td>
          {% if state.0 == pca.0%}
            Global State
          {%else%}
            {{state.0}}
          {% endif %}
        </td>
        <td id="dState{{state.0}}" >{{state.1.1}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>
{% if "has_control" in pcaPerms %}
<div>
  <form action="{% url 'GUI:create_pca' %}" method="get">
    <input type="submit" value="create new Partition">
  </form>
  <form action="{% url 'GUI:create_detector' %}" method="get">
    <input type="submit" value="create new Detector">
  </form>
  <form action="{% url 'GUI:move_detectors' %}" method="get">
    <input type="submit" value="move Detectors">
  </form>
  <form action="{% url 'GUI:delete_detectors' %}" method="get">
    <input type="submit" value="delete Detectors">
  </form>
  <form action="{% url 'GUI:delete_pca' %}" method="get">
    <input type="submit" value="delete Partitions">
  </form>
</div>
{%endif%}
<textarea readonly id="log"></textarea>
{%endblock%}
</body>
</html>
