<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
console.log('ws://'+ window.location.host + '/ws/');
var updateSocket = new WebSocket('ws://'+ window.location.host + '/ws/');
//todo autoreconnect

updateSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    var type = data['type'];

    if (type == "state"){
      var update = JSON.parse(message);
      var id = update['id'];
      var newState = update['state'];
      if(newState == "reset"){
          //clear Table
          $(".tableRow").remove()
      }
      else if (type == "remove"){
          //delete Row
          $('#dRow'+id).remove()
      }
      else{
        stateObject = $('#dState'+id)
        //check if state already exists
        if(stateObject.length){
            stateObject.html(newState);
        }
        else{
            newRow = '<tr class="tableRow"> <td>'+id+'</td><td id="dState'+id+'">'+newState+'</td></tr>'
            //todo which PCA is the Update from?
            $("#stateTable"+pcaId).append(newRow)
        }
      }
    }
    else if (type == "log"){
      $('#log').append(message+"\n");
      //allways scroll directly to bottom
      var textarea = document.getElementById('log');
      textarea.scrollTop = textarea.scrollHeight;
    }

};

</script>
</head>
<body>
{% if user.is_authenticated %}
  <li>User: {{ user.get_username }}</li>
  <li><a href="{% url 'GUI:logout'%}?next={{request.path}}">Logout</a></li>
{% else %}
  <li><a href="{% url 'GUI:login'%}?next={{request.path}}">Login</a></li>
{% endif %}
<h1>ECS Status</h1>

<div>
  {% for pca in ecsMap.items %}
  <h2>PCA <a href="{%url 'GUI:pca' pca.0%}">{{pca.0}}</a> </h2>
  <form action="{% url 'GUI:input_edit_pca' %}" method="post">
    <input type="hidden" name="id" value="{{pca.0}}" />
    {% csrf_token %}
    <input type="submit" value="edit Partition">
  </form>
  <table id="stateTable{{pca.0}}">
    <tr>
      <th>Detector</th>
      <th>Status</th>
    </tr>
    {% for state in pca.1.items %}
    <tr id="dRow{{state.0}}" class="tableRow">
        <td>
          {% if state.0 == pca.0%}
            Global State
          {%else%}
            {{state.0}}
          {% endif %}
        </td>
        <td id="dState{{state.0}}" >{{state.1.1}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>
<div>
  <form action="{% url 'GUI:input_create_pca' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="create new Partition">
  </form>
  <form action="{% url 'GUI:input_create_detector' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="create new Detector">
  </form>
  <form action="{% url 'GUI:input_move_detectors' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="MoveDetectors">
  </form>
</div>
<textarea readonly id="log"></textarea>

</body>
</html>
