{% extends "GUI/base.html" %}
{% load widget_tweaks %}

{% block title %}
ECS Create Partition
{% endblock %}

{% block partitionActivity%}active{% endblock %}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
      <a href="{% url 'GUI:index' %}">Overview</a>
    </li>
    <li class="breadcrumb-item active">Create Partition</li>
{% endblock %}

{% block content %}
{% if view.errorMessage%}
  <div class="alert alert-danger" id="alertBox">
    <strong>Error: </strong><p>{{view.errorMessage}}</p>
  </div>
{% endif %}
<form action="{% url 'GUI:create_pca' %}" method="post">
  {% csrf_token %}
  {%for element in form%}
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">{{element.label}}</label>
    {{element|add_class:"form-control col-sm-3"}}
  </div>
  {%endfor%}

  <input class="btn btn-primary" type="submit" value="Create new Partition">
</form>
{% endblock content%}
