{% extends "GUI/base.html" %}

{% block title %}
ECS Delete Partitions
{% endblock %}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'GUI:index' %}">Overview</a>
    </li>
    <li class="breadcrumb-item active">Delete Partition</li>
  </ol>
{% endblock %}

{% block content %}
  {%if view.failedPartitions%}
  <div class="alert alert-danger" id="alertBox">
    <strong>error messages</strong><br/>
    {% for key,value in view.failedPartitions.items %}
      {%if value.0 == "unmapFail"%}
        <a>{{key}}: {{value.1}}</a><br/>
        {%for key,value in view.failedDetectors.items%}
          <a>{{key}}: {{value}}</a><br/>
        {%endfor%}
      {%else%}
        <a>{{key}}: {{value.1}}</a><br/>
      {%endif%}
    {% endfor %}
  </div>
  <form action="{% url 'GUI:delete_pca' %}" method="post">
    {% csrf_token %}
    <a>there had been errors while deleting some Partitions. Delete anyway?</a><br/>
    {% for p in view.failedPartitions %}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name='selectedPartitions' value="{{p}}" id="check{{p}}">
        <label class="form-check-label" for="check{{p}}">
          Partition {{p}}
        </label>
      </div>
    {% endfor %}
    <input type="hidden" name="forceDelete" value="True">
    <input class="btn btn-primary" type="submit" value="delete anyway">
  </form>
  {%else%}
  <form action="{% url 'GUI:delete_pca' %}" method="post">
    {% csrf_token %}
    {%for p in view.partitions%}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name='selectedPartitions' value="{{p.0}}" id="check{{p.0}}">
        <label class="form-check-label" for="check{{p.0}}">
          Partition {{p.0}}
        </label>
      </div>
    {%endfor%}
    <input class="btn btn-primary" type="submit" value="delete">
  </form>
  {%endif%}
{% endblock content %}
