{% extends "GUI/base.html" %}

{% block title %}
ECS Delete Detectors
{% endblock %}

{% block detectorActivity%}active{% endblock %}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'GUI:index' %}">Overview</a>
    </li>
    <li class="breadcrumb-item active">Delete Detectors</li>
  </ol>
{% endblock %}

{% block content %}
  {% if view.errorMessage%}
    <div class="alert alert-danger" id="alertBox">
      <strong>Error: </strong><p>{{view.errorMessage}}</p>
    </div>
  {% endif %}
  {%if view.failedDetectors%}
    <div class="alert alert-danger" id="alertBox">
      <strong>error messages</strong><br/>
      {% for d in view.failedDetectors.items %}
        <a>{{d.0}}: {{d.1}}</a><br/>
      {% endfor %}
    </div>
  <form action="{% url 'GUI:delete_detectors' %}" method="post">
    {% csrf_token %}
    <a>there had been errors while aborting some Detectors. Delete anyway?</a><br/>
    {% for d in view.failedDetectors %}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="selectedDetectors" value="{{d.0}}" id="check{{d.0}}">
        <label class="form-check-label" for="check{{d.0}}">
          Detector {{d.0}}
        </label>
      </div>
    {% endfor %}
    <input type="hidden" name="forceDelete" value="True">
    <input class="btn btn-primary" type="submit" value="delete anyway">
    <a class="btn btn-primary" href="{% url 'GUI:delete_detectors' %}">Cancel</a>
  </form>
  {%else%}
  <form action="{% url 'GUI:delete_detectors' %}" method="post">
    {% csrf_token %}
    {%for d in view.unmappedDetectors%}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="selectedDetectors" value="{{d.id}}" id="check{{d.id}}">
        <label class="form-check-label" for="check{{d.id}}">
          Detector {{d.id}}
        </label>
      </div>
    {%endfor%}
    <input class="btn btn-primary" type="submit" value="delete">
  </form>
  {%endif%}
{% endblock content %}
