{% extends "GUI/base.html" %}

{% block title %}
ECS Move Detectors
{% endblock %}

{% block detectorActivity%}active{% endblock %}

{% block script %}
{%if not view.failedDetectors%}
<script>
  unmappedDetectorsHTML = ""
  {% for d in view.unmappedDetectors %}
  //unmappedDetectorsHTML += "<a>Detector "+{{d.id}}+" </a><input type='checkbox' name='selectedDetectors' value='"+{{d.id}}+"'><br/>";
    unmappedDetectorsHTML += '<div class="form-check"><input class="form-check-input" type="checkbox" name="selectedDetectors" value="{{d.id}}" id="check{{d.id}}">'
    unmappedDetectorsHTML += '<label class="form-check-label" for="check{{d.id}}">Detector {{d.id}}</label></div>'
  {% endfor %}

  function changeDetectorList(pcaId){
    //set the DetectorList for the currently selected Partition
    $("#detectors").empty()
    if (pcaId == "unmapped"){
      detDiv = document.getElementById("detectors");
      detDiv.innerHTML = unmappedDetectorsHTML
      return
    }
    $.ajax({
        type: "POST",
        url: "{% url 'GUI:getDetectorListForPCA'%}",
        data:{csrfmiddlewaretoken: '{{ csrf_token }}','pcaId' : pcaId},
        "success": function(result) {
            idArr = Object.keys(result);
            detDiv = document.getElementById("detectors");
            for (i in idArr){
               str = '<div class="form-check"><input class="form-check-input" type="checkbox" name="selectedDetectors" value="'+idArr[i]+'" id="check'+idArr[i]+'">'
               str += '<label class="form-check-label" for="check'+idArr[i]+'">Detector '+idArr[i]+'</label></div>'
               //str = "<a>Detector "+idArr[i]+" </a><input type='checkbox' name='selectedDetectors' value='"+idArr[i]+"'><br/>";
               detDiv.innerHTML += str;
            }
        },
    });
  }
  var oldFrom = ""
  var oldTo = ""

  function check(dropdown){
    $("#message").html("")
    //Switch selected Values in Dropdowns if they are identical
    {% with view.partitions|length as l %}
        {% if l > 1 %}
        id = dropdown.id
        if (id == "toPartition"){
          otherId="fromPartition"
          old = oldTo
          oldTo = $("#"+id).val()
          changeDetectors = true
        }
        else{
          otherId="toPartition"
          old = oldFrom
          oldFrom = $("#"+id).val()
          changeDetectors = false
        }
        if (dropdown.value == $("#"+otherId).val()){
            //switch places
            console.log(dropdown.value)
            console.log(old)
            $("#"+otherId).val(old)
            if (otherId == "toPartition"){
                oldTo = old
            }
            else {
                oldFrom = old
            }
            if(changeDetectors)
                changeDetectorList($("#"+otherId).val())
        }
        {%else%}
          $("#message").html("there is only one Partition");
        {% endif %}
    {% endwith %}
    return true
  }
  $(document).ready(function() {
    //set to-Dropdown to second entry
    $("#toPartition").val($("#toPartition option")[1].value)
    oldFrom = $("#fromPartition").val()
    oldTo = $("#toPartition").val()
    check(document.getElementById("toPartition"))
    changeDetectorList($("#fromPartition").val())
  });
</script>
{%endif%}
{% endblock script%}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'GUI:index' %}">Overview</a>
  </li>
  <li class="breadcrumb-item active">Move Detectors</li>
{% endblock %}

{% block content %}
  {%if view.failedDetectors%}
    <div class="alert alert-danger" id="alertBox">
      <strong>error messages</strong><br/>
      {% for d in view.failedDetectors.items %}
        <a>{{d.0}}: {{d.1}}</a><br/>
      {% endfor %}
    </div>
    <form action="{% url 'GUI:move_detectors' %}" method="post">
      {% csrf_token %}
      <a>there had been errors while moving some Detectors. Move anyway?</a><br/>
      {% for d in view.failedDetectors %}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="selectedDetectors" value="{{d.0}}" id="check{{d.0}}">
        <label class="form-check-label" for="check{{d.0}}">
          Detector {{d.0}}
        </label>
      </div>
      {% endfor %}
      <input type="hidden" name="toPartition" value="{{view.toPcaId}}">
      <input type="hidden" name="forceMove" value="True">
      <input class="btn btn-primary" type="submit" value="move anyway">
      <a class="btn btn-primary" href="{% url 'GUI:move_detectors' %}">Cancel</a>
    </form>
  {% else %}
    <form action="{% url 'GUI:move_detectors' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="fromPartition">From Partition</label>
        <select class="form-control col-sm-2" id="fromPartition" name="fromPartition" onchange="check(this);changeDetectorList(this.value)">
          <option value="unmapped">unused Detectors</option>
          {% for p in view.partitions %}
            <option value="{{p.1.id}}">{{p.1.id}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group" id ="detectors">
      </div>
      <br/>
      <div class="form-group">
        <label for="toPartition">To Partition</label>
        <select class="form-control col-sm-2" id="toPartition" name="toPartition" onchange="check(this)">
          <option value="unmapped">unused Detectors</option>
          {% for p in view.partitions %}
            <option value="{{p.1.id}}">{{p.1.id}}</option>
          {% endfor %}
        </select>
      </div>
      <br/>
      <input class="btn btn-primary" type="submit" value="move">
    </form>
  {% endif %}
{% endblock content %}
