{% extends "GUI/base.html" %}

{% block title %}
ECS Dashboard
{% endblock %}

{% block script %}
<script>
  function createWebSocket(){
      var updateSocket = new WebSocket('ws://'+ window.location.host + '/ws/ecs/');

      function updateState(id,newState,unmappedState,sequenceNumber,tag,comment,origin,isGlobalSystem){
        cssClass = newState
        stateCircle = '<i class="fas fa-circle '+cssClass+'"></i>'
        if (tag == ""){
          tag = "No Configuration Tag"
        }
        if (id == origin){
          $("#global"+id).html(stateCircle+newState);
          $("#globalTag"+id).html(tag);
          return;
        }
        var stateObject = $('#dState'+id+origin)
        //check if state already exists
        if(stateObject.length){
            if(parseInt(stateObject.attr("sequencenumber")) < sequenceNumber)
              stateObject.attr("sequencenumber",sequenceNumber)
              stateObject.html(stateCircle+newState);
              $('#detUnmappedState'+id+origin).html(unmappedState)
              $('#detTagName'+id+origin).html(tag)
              $('#detComment'+id+origin).html(comment)
        }
        else{
          if (isGlobalSystem)
            var table = $("#globalSystemStateTable"+origin);
          else
            var table = $("#detectorStateTable"+origin);
          newRow = '<tr id="dRow'+id+'" class="tableRow'+origin+'"> <td>'+id+'</td><td id="dState'+id+origin+'" sequencenumber="'+sequenceNumber+'">'+stateCircle+newState+'</td><td id ="detUnmappedState'+id+origin+'">'+unmappedState+'</td><td id="detTagName'+id+origin+'">'+tag+'</td><td id="detComment'+id+origin+'">'+comment+'</td></tr>';
          table.append(newRow)
        }
      }

      updateSocket.onopen = function(e){
        $(".tableRow").remove()
        //get stateTables
        $.ajax({
            type: "GET",
            url: "{% url 'GUI:currentTableAndLogRequest' 'ecs' %}",
            "success": function(result) {
                var partitions = result["table"]
                var log = result["log"]
                for (var pca in partitions){
                  var stateTable = partitions[pca]
                  for (var id in stateTable){
                    var sequenceNumber = stateTable[id][0];
                    var stateObject = stateTable[id][1];
                    var isGlobalSystem = stateTable[id][2];
                    var newState = stateObject["state"];
                    var unmappedState = stateObject["unmappedState"]
                    var tag = (stateObject["configTag"] == undefined) ? "" : stateObject["configTag"];
                    var comment = (stateObject["comment"] == undefined) ? "" : stateObject["comment"];
                    updateState(id,newState,unmappedState,sequenceNumber,tag,comment,pca,isGlobalSystem);
                  }
                }
                if (log){
                  //empty log
                  $('#log').html("")
                  $('#log').append(log+"\n");
                  //allways scroll directly to bottom
                  var textarea = document.getElementById('log');
                  textarea.scrollTop = textarea.scrollHeight;

                }
            },
        });
      }

      updateSocket.onclose = function(e){
        if (e.code == 1000)
          //normal shutdown
          return
        else{
           setTimeout(function(){
              console.log("trying to reconnect Websocket");
              createWebSocket()
           },2000);
        }
      }

      updateSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          var message = data['message'];
          var type = data['type'];
          var origin = data['origin']
          if (type == "state"){
            var update = JSON.parse(message);
            var id = update['id'];
            var stateObject = update['state'];
            if(stateObject == "reset"){
                //clear Table
                $(".tableRow"+origin).remove()
            }
            else if (stateObject == "remove"){
                //delete Row
                $('#dRow'+id).remove()
            }
            else{
              var newState = stateObject["state"];
              var sequenceNumber = update['sequenceNumber'];
              var unmappedState = stateObject["unmappedState"];
              var isGlobalSystem = stateObject["isGlobalSystem"];
              var tag = (stateObject["configTag"] == undefined) ? "" : stateObject["configTag"];
              var comment = (stateObject["comment"] == undefined) ? "" : stateObject["comment"];
              updateState(id,newState,unmappedState,sequenceNumber,tag,comment,origin,isGlobalSystem);
            }
          }
          else if (type == "log"){
            $('#log').append(message+"\n");
            //allways scroll directly to bottom
            var textarea = document.getElementById('log');
            textarea.scrollTop = textarea.scrollHeight;
          }
          else if (type == "permissionTimeout"){
            $('#alertBox').css('visibility', 'visible');
            $('#alertBox').html("<strong>Warning!</strong> Your permission timed out")
            $('#controlLink').html("take control of {{view.pcaObject}}")
            $('#controlLink').attr("href", "{% url 'GUI:take_control' 'ecs' 'ecs'%}");
          }
      };
  }
  createWebSocket()
</script>
{% endblock script %}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Overview</li>
{% endblock %}

{% block content %}
  <h1>ECS Status</h1>
  <div class="alert alert-danger" id="alertBox" style="visibility: hidden"></div>
  <div>
    {% for pca in view.ecsMap.items %}
      {% if pca.0 != "unmapped"%}
        <h2 {% if not forloop.first %} class="indexPCAHeading" {% endif %}>PCA <a href="{%url 'GUI:pca' pca.0%}">{{pca.0}}</a> </h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h4>{{pca.0}} Global State:</h4>
            </div>
            <div class="col-md-4">
              <h4>{{pca.0}} Global Config Tag:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h2 id="global{{pca.0}}"></h2>
            </div>
            <div class="col-md-4">
              <h2 id="globalTag{{pca.0}}"></h2>
            </div>
          </div>
        </div>
        <table class="table table-bordered" id="detectorStateTable{{pca.0}}">
          <tr>
            <th class="col-md-3">Detector</th>
            <th class="col-md-3">Status as seen by PCA</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-2">Config Tag</th>
            <th class="col-md-3">Comment</th>
          </tr>
        </table>
        <table class="table table-bordered" id="globalSystemStateTable{{pca.0}}">
          <tr>
            <th class="col-md-3">Global System</th>
            <th class="col-md-3">Status as seen by PCA</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-2">Config Tag</th>
            <th class="col-md-3">Comment</th>
          </tr>
        </table>
      {%else%}
        <h2>Unused Detectors</h2>
        <table class="table table-bordered" id="detectorStateTable{{pca.0}}">
          <tr>
            <th class="col-md-3">Detector</th>
            <th class="col-md-3">Status as seen by PCA</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-2">Config Tag</th>
            <th class="col-md-3">Comment</th>
          </tr>
        </table>
      {%endif%}
      <hline/>
    {% endfor %}
  </div>
  <textarea class="form-control log" rows="10" readonly id="log"></textarea>
  </div>
{% endblock content %}
