<!DOCTYPE html>
<html>
<head>
{%block control%}
{% load guardian_tags %}
{% get_obj_perms request.user for pcaObject as "pcaPerms" %}
<meta http-equiv=”Pragma” content=”no-cache”>
<meta http-equiv=”Expires” content=”-1″>
<meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function createWebSocket(){
    var updateSocket = new WebSocket('ws://'+ window.location.host + '/ws/{{pcaId}}/');

    updateSocket.onclose = function(e){
       setTimeout(function(){
      		console.log("trying to reconnect Websocket");
      		createWebSocket()
  	   },2000);
    }

    updateSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var type = data['type'];

        if (type == "state"){
          var update = JSON.parse(message);
          var id = update['id'];
          var newState = update['state'];
          if(newState == "reset"){
              //clear Table
              $(".tableRow").remove()
          }
          else if (type == "remove"){
              //delete Row
              $('#dRow'+id).remove()
          }
          else{
            buttonHtml = "";
            {% if "has_control" in pcaPerms %}
            if (newState == "inactive")
              buttonHtml = '<button id="activeToggle" onclick="setactive('+ update['id'] +')" > activate  </button>';
            else
              buttonHtml = '<button id="activeToggle" onclick="setinactive('+ update['id'] +')" > deactivate  </button>';
            {% endif %}
            stateObject = $('#dState'+id)
            //check if state already exists
            if(stateObject.length){
                stateObject.html(newState+buttonHtml);
            }
            else{
                newRow = '<tr class="tableRow"> <td>'+id+'</td><td id="dState'+id+'">'+newState+buttonHtml+'</td></tr>'
                $("#stateTable").append(newRow)
            }
          }
        }
        else if (type == "log"){
          $('#log').append(message+"\n");
          //allways scroll directly to bottom
          var textarea = document.getElementById('log');
          textarea.scrollTop = textarea.scrollHeight;
        }

    };
}
createWebSocket()

function setactive(id){
  $.ajax({
      type: "POST",
      url: "{% url 'GUI:setActive' pcaId%}",
      data:{csrfmiddlewaretoken: '{{ csrf_token }}', "detectorId" : id},
      "success": function(result) {
          console.log(result);
      },
  });
}

function setinactive(id){
  $.ajax({
      type: "POST",
      url: "{% url 'GUI:setInactive' pcaId%}",
      data:{csrfmiddlewaretoken: '{{ csrf_token }}', "detectorId" : id},
      "success": function(result) {
          console.log(result);
      },
  });
}

$(document).ready(function() {
    $("#ready").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:ready' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
            /*"success": function(result) {
                console.log(result);
            },*/
        });
    });
    $("#start").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:start' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    });
    $("#stop").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:stop' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    });
    $("#shutdown").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:shutdown' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    });
});
</script>
</head>

<body>
{% if perms.GUI.can_take_control %}
  {% if userInControl %}
      <p>Control already Taken by User : {{userInControl}}</p>
  {% endif %}
  {% if "has_control" in pcaPerms %}
      <form action="{% url 'GUI:giveup_control' pcaId%}" method="post">
        {% csrf_token %}
        <input type="submit" value="give up control">
      </form>
  {% else %}
      <form action="{% url 'GUI:take_control' pcaId%}" method="post">
        {% csrf_token %}
        <input type="submit" value="take control">
      </form>
  {% endif %}
{% endif %}
<h1>PCA {{pcaId}} Overview</h1>

<div>
  <table id="stateTable">
    <tr>
      <th>Detector</th>
      <th>Status</th>
    </tr>
    {% for state in stateMap.items %}
    <tr id="dRow{{state.0}}" class="tableRow">
        <td>
          {% if state.0 == 0%}
            Global State
          {%else%}
            {{state.0}}
          {% endif %}
        </td>
        <td id="dState{{state.0}}" >
          {{state.1.1}}
          {% if "has_control" in pcaPerms %}
            {%if state.1.1 == "inactive" %}
              <button id="activeToggle" onclick="setactive({{state.0}})" > activate  </button>
            {% else %}
              <button id="activeToggle" onclick="setinactive({{state.0}})" > deactivate  </button>
            {% endif %}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% if "has_control" in pcaPerms %}
<div visibility:{{PCAConnection}}>
  <button id="ready">ready</button>
  <button id="start">start</button>
  <button id="stop">stop</button>
  <button id="shutdown">shutdown</button>
</div>
{% endif %}
{%endblock%}
<textarea readonly id="log"></textarea>
{%if error%}
<p visibility:={{error}}>Error</p>
{%endif%}
</body>
</html>
