{% extends "GUI/base.html" %}

{% block title %}
PCA {{view.pcaId}} Monitor
{% endblock %}
{% block pca%}active{% endblock %}

{% block script %}
<script>
function resetSystem (systemId){
  $.ajax({
      type: "POST",
      url: "{% url 'GUI:reset' pcaId%}",
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}',
        systemId: systemId,
      },
      statusCode: returnCodeCases
  });
}
function createWebSocket(){
    var updateSocket = new WebSocket("{% if ENCRYPT_WEBSOCKET %}wss{% else %}ws{% endif %}://"+ window.location.hostname+":{{WEB_SOCKET_PORT}}/{{pcaId}}/{{request.user}}");
    function updateState(id,newState,unmappedState,sequenceNumber,tag,comment,isGlobalSystem,buttons){
      cssClass = newState;
      //colored state circle
      stateCircle = '<i class="fas fa-circle '+cssClass+'"></i>';
      if (newState == "Error")
        //add reset Button
        newState = newState + "<button style='margin-left: 0.5em;' id='reset"+id+"' class='btn btn-primary' onclick='resetSystem(\""+id+"\")' >reset</button>";
      if (tag == ""){
        tag = "No Configuration Tag";
      }
      if (id == "{{view.pcaId}}"){
        globalState.html(stateCircle+newState);
        globalTag.html(tag);
        if (tag =="No Configuration Tag")
          customConfiguration = false;
        selectedTag.html(tag)
        if (buttons){
          //enable and disable control buttons
          readyButton.prop("disabled",!buttons["configure"]);
          startButton.prop("disabled",!buttons["start"]);
          stopButton.prop("disabled",!buttons["stop"]);
        }
        return;
      }
      //check if state already exists in html table
      if(id in states){
          //update
          var stateObject = states[id];
          if(parseInt(stateObject.attr("sequencenumber")) < sequenceNumber)
            stateObject.attr("sequencenumber",sequenceNumber);
            stateObject.html(stateCircle+newState);
            unmappedStates[id].html(unmappedState);
            tags[id].html(tag);
            comments[id].html(comment);
      }
      else{
          //create new html table entry
          if (isGlobalSystem)
            var table = globalSystemTable;
          else
            var table = detectorTable;
          newRow = '<tr id="dRow'+id+'" class="tableRow"> <td>'+id+'</td><td id="dState'+id+'" sequencenumber="'+sequenceNumber+'">'+stateCircle+newState+'</td><td id ="detUnmappedState'+id+'">'+unmappedState+'</td><td id="detTagName'+id+'">'+tag+'</td><td id="detComment'+id+'">'+comment+'</td></tr>';
          table.append(newRow);
          states[id] = $("#dState"+id)
          unmappedStates[id] = $("#detUnmappedState"+id)
          tags[id] = $("#detTagName"+id)
          comments[id] = $("#detComment"+id)
      }
    }

    updateSocket.onopen = function(e){
      //called when web socket connection is open
      $(".tableRow").remove()
      //send current session id for authentification
      updateSocket.send("{{view.sessionId}}")
      //get current stata table and logs
      $.ajax({
          type: "GET",
          url: "{% url 'GUI:currentTableAndLogRequest' pcaId %}",
          error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.status);
          },
          "success": function(result) {
              var stateTable = result["table"];
              var log = result["log"];
              for (var id in stateTable){
                var sequenceNumber = stateTable[id][0];
                var stateObject = stateTable[id][1];
                var isGlobalSystem = stateTable[id][2];
                var newState = stateObject["state"];
                var unmappedState = stateObject["unmappedState"];
                var tag = (stateObject["configTag"] == undefined) ? "" : stateObject["configTag"];
                var comment = (stateObject["comment"] == undefined) ? "" : stateObject["comment"];
                var buttons = result["buttons"]
                updateState(id,newState,unmappedState,sequenceNumber,tag,comment,isGlobalSystem,buttons);
              }
              if (log){
                //empty log
                logBox.html("");
                logBox.append(log+"\n");
                //allways scroll directly to bottom
                var textarea = document.getElementById('log');
                textarea.scrollTop = textarea.scrollHeight;

              }
          },
      });
    }

    updateSocket.onclose = function(e){
      if (e.code == 1000)
        //normal shutdown
        return
      else{
       //try periodic reconnects
       setTimeout(function(){
      		createWebSocket();
  	   },2000);
     }
    }

    updateSocket.onmessage = function(e) {
        //called on received websocket message
        var data = JSON.parse(e.data);
        var message = data['message'];
        var type = data['type'];
        if (type == "state"){
          //is state update
          var update = JSON.parse(message);
          var id = update['id'];
          var stateObject = update['state'];
          if(stateObject == "reset"){
              //clear Table
              $(".tableRow").remove();
              states = {};
              unmappedStates = {};
              tags = {};
              comments= {};
          }
          else if (stateObject == "remove"){
              //detector has been removed from partition
              //delete Row
              $('#dRow'+id).remove();
          }
          else{
            // state update
            var newState = stateObject["state"];
            var sequenceNumber = update['sequenceNumber'];
            var unmappedState = stateObject["unmappedState"];
            var isGlobalSystem = update["isGlobalSystem"];
            var tag = (stateObject["configTag"] == undefined) ? "" : stateObject["configTag"];
            var comment = (stateObject["comment"] == undefined) ? "" : stateObject["comment"];
            if ("buttons" in update)
              var buttons = update["buttons"];
            else
              var buttons = undefined;
            updateState(id,newState,unmappedState,sequenceNumber,tag,comment,isGlobalSystem,buttons);
          }
        }
        else if (type == "log"){
          //logmessage
          logBox.append(message+"\n");
          //allways scroll directly to bottom
          var textarea = document.getElementById('log');
          textarea.scrollTop = textarea.scrollHeight;
        }
        else if (type == "permissionTimeout"){
          //permission timeout
          $('#alertBox').css('visibility', 'visible');
          $('#alertBox').html("<strong>Warning!</strong> Your permissions timed out");
          $('#PCAcontrolLink').html("take control of {{view.pcaObject}}");
          $('#PCAcontrolLink').attr("href", "{% url 'GUI:take_pca_control' pcaId pcaId%}");
          $('#controlLink').html("take control of {{view.ecsObject}}");
          $('#controlLink').attr("href", "{% url 'GUI:take_ecs_control' pcaId%}");
        }
    };
}
createWebSocket()

//functions for ajax return codes
returnCodeCases = {
  200: function(){
    $('#alertBox').css('visibility', 'hidden');
  },
  403: function(){
    $('#alertBox').css('visibility', 'visible');
    $('#alertBox').html("<strong>Warning!</strong> Your permission timed out")
  },
  500: function(){
    $('#alertBox').css('visibility', 'visible');
    $('#alertBox').html("<strong>Warning!</strong> Something went wrong")
  },

};
$(document).ready(function() {
    //called when page is ready
    //cache jquery selections
    detectorTable = $("#detectorStateTable");
    globalSystemTable = $("#globalSystemStateTable");

    globalState = $("#global");
    globalTag = $("#globalTag");
    selectedTag = $("#selectedTag")

    readyButton = $("#ready")
    startButton = $("#start")
    stopButton = $("#stop")
    selectConfButton = $("#selectConfButton")

    logBox = $('#log')

    //lookup tables for detectors and globalSystems
    states = {}
    unmappedStates = {}
    tags = {}
    comments= {}

    $("#ready").click(function(e) {
        //click function for configure button
        e.preventDefault();
        var form = $("#configure_form")[0];
        //check if there is a selected configuration
        if (selectedTag.html() == "No Configuration Tag" || (selectedTag.html() == "customTag" && !customConfiguration)){
            selectConfButton.popover('show')
            return;
        }
        else{
          selectConfButton.popover('hide')
        }
        //set request data
        if (typeof(customConfiguration)!= "undefined" && customConfiguration != false){
          var req_data = {csrfmiddlewaretoken: '{{ csrf_token }}', autoConfigure: $("#autoConfigureCheckBox").prop("checked"), globalTag: $("#selectedTag").html(), "customConfiguration[]" : customConfiguration};
        }
        else{
          var req_data = {csrfmiddlewaretoken: '{{ csrf_token }}', autoConfigure: $("#autoConfigureCheckBox").prop("checked"), globalTag: $("#selectedTag").html()};
        }
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:ready' pcaId%}",
            data: req_data,
            statusCode: returnCodeCases
        });
    });
    $("#start").click(function(e) {
        //click function for start button
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:start' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
            statusCode: returnCodeCases
        });
    });
    $("#stop").click(function(e) {
        //click function for stop button
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:stop' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
            statusCode: returnCodeCases
        });
    });
    $("#abort").click(function(e) {
        //click function for abort button
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'GUI:abort' pcaId%}",
            data:{csrfmiddlewaretoken: '{{ csrf_token }}'},
            statusCode: returnCodeCases
        });
    });

    //modal stuff
    $('#configuration-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var modal = $(this)
      selectConfButton.popover('hide')
      $.ajax({
          type: "GET",
          url: "{%url 'GUI:configureTagModal' view.pcaId%}",
          error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.status);
          },
          "success": function(result) {
              modal.find(".modal-dialog").html(result)
          },
      });
    })
});

function clearConfigModal(){
  $("#configuration-modal-content").html("")
}

</script>
{% endblock script %}

{% block sideAndTopBar %}
  {{block.super}}
{% endblock %}

{% block control %}
  {% load guardian_tags %}
  {% get_obj_perms request.user for view.pcaObject as "pcaPerms" %}
  {% get_obj_perms request.user for view.ecsObject as "ecsPerms" %}
  {% if perms.GUI.can_take_ecs_control %}
    {% if "has_ecs_control" in ecsPerms %}
      <h5 class="dropdown-header">You are currently controlling the ECS</h5>
      <a id="controlLink" class="dropdown-item" href="{% url 'GUI:giveup_ecs_control' pcaId%}">give up control of {{view.ecsObject}}</a>
    {% elif not view.userInECSControl %}
      <a id="controlLink" class="dropdown-item" href="{% url 'GUI:take_ecs_control' pcaId%}">take control of {{view.ecsObject}}</a>
    {% endif %}
  {% endif %}
  {% if perms.GUI.can_take_pca_control %}
    <div class="dropdown-divider"></div>
    {% if view.userInPCAControl and view.userInPCAControl != "You" %}
      <h5 class="dropdown-header">Control of PCA {{view.pcaId}} already Taken by User : {{view.userInPCAControl}}</h5>
    {% endif %}
    {% if "has_pca_control" in pcaPerms %}
      <h5 class="dropdown-header">You are currently controlling the Partition</h5>
      <a id="PCAcontrolLink" class="dropdown-item" href="{% url 'GUI:giveup_pca_control' pcaId pcaId%}">give up control of {{view.pcaObject}}</a>
    {% elif not view.userInPCAControl %}
      <a id="PCAcontrolLink" class="dropdown-item" href="{% url 'GUI:take_pca_control' pcaId pcaId%}">take control of {{view.pcaObject}}</a>
    {% endif %}
    <div class="dropdown-divider"></div>
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'GUI:index' %}">Overview</a>
  </li>
  <li class="breadcrumb-item active">PCA {{view.pcaId}} Monitor</li>
{% endblock %}

{% block content %}
  {% load guardian_tags %}
  {% get_obj_perms request.user for view.pcaObject as "pcaPerms" %}
  <h1>PCA {{view.pcaId}} Monitor</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4>Global State:</h4>
      </div>
      <div class="col-md-4">
        <h4>Global Config Tag:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2 id="global"></h2>
      </div>
      <div class="col-md-4">
        <h2 id="globalTag"></h2>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" id="alertBox" style="visibility: hidden"></div>
  <div>
    <table class="table table-bordered" id="detectorStateTable">
      <thead>
        <tr>
          <th style="width: 15%">Detector</th>
          <th style="width: 20%">Status as seen by PCA</th>
          <th style="width: 20%">Status</th>
          <th style="width: 25%">Config Tag</th>
          <th >Comment</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-bordered" id="globalSystemStateTable">
      <tr>
        <th style="width: 15%">Global System</th>
        <th style="width: 20%">Status as seen by PCA</th>
        <th style="width: 20%">Status</th>
        <th style="width: 25%">Config Tag</th>
        <th class="col-3">Comment</th>
      </tr>
    </table>
  </div>
  {% if "has_pca_control" in pcaPerms %}
    <div class="form-row">
      <form id="configure_form" class="form-group col-2">
          <label>Currently Selected Tag: </label><label id="selectedTag"></label>
      </form>
      <div class="form-group col-2">
      <button id="selectConfButton" class="btn btn-primary" data-toggle="modal" data-container="body" data-placement="bottom" data-content="Please select a configuration" data-target="#configuration-modal" onclick="clearConfigModal()">
        Select Configuration
      </button>
    </div>
      <div class="form-group col">
        <button id="ready" class="btn btn-primary">configure</button>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="autoConfigureCheckBox">
          <label class="form-check-label" for="autoConfigureCheckBox">auto configure</label>
        </div>
      </div>
    </div>

  <div>
    <button id="start" class="btn btn-primary">start</button>
    <button id="stop" class="btn btn-primary">stop</button>
    <button id="abort" class="btn btn-primary">abort</button>
  </div>
  {% endif %}
  <textarea class="form-control log" rows="10" readonly id="log"></textarea>
  <div class="modal fade" id="configuration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div  id="configuration-modal-content" class="modal-dialog modal-dialog-centered" role="document">
    </div>
  </div>
{% endblock content %}
